@{
    ViewData["Title"] = "About";
}

<section id="container_page_intro">

       <div id="container_google_star1">

		   <h1>Know About SCOPE&nbsp;INDIA</h1>

		</div>
</section>

<section>
    <div class="home_page">
        <h4>Get Globally Certified from SCOPE INDIA</h4>
        <div class="image_grid">
            <img src="~/images/microsoft.png" class="grid-image-home" alt="Microsoft Certification" title="Microsoft Certification">
            <img src="~/images/ibm.png" class="grid-image-home" alt="IBM Certification" title="IBM Certification">
            <img src="~/images/google.png" class="grid-image-home" alt="Google Certification" title="Google Certification">
            <img src="~/images/amazon.png" class="grid-image-home" alt="Amazon Certification" title="Amazon Certification">
            <img src="~/images/redhat.png" class="grid-image-home" alt="Red Hat Certification" title="Red Hat Certification">
            <img src="~/images/istqb.png" class="grid-image-home scale-15" alt="ISTQB Certification" title="ISTQB Certification">
            <img src="~/images/cisco.png" class="grid-image-home scale-15" alt="Cisco Certification" title="Cisco Certification">
            <img src="~/images/github.png" class="grid-image-home" alt="GitHub Certification" title="GitHub Certification">
        </div>
    </div>
</section>
<section id="section_text_content">
	<div>
		<h2>
			SCOPE INDIA, your career partner!
		</h2>
		<h3>
			One of India's best Training destinations for Software, Networking, DevOps and Cloud Computing courses with 18 years of Industrial experience. Over 1,000 students find their dream careers each year, and we have assisted more than 15,000 students so far.
		</h3>
		<p>
			Software, Networking, and Cloud Professional Education Centre in Kerala and Tamil Nadu from
			<strong>
				Suffix E Solutions
			</strong>
			with WORKING PROFESSIONALS oriented on-the-job TRAINING model. SCOPE INDIA provides courses for
			<strong>
				Software Programming
			</strong>
			in Python (Data Science | Artificial Intelligence | Machine Learning | Deep Learning, Data Analytics), Java, PHP, .Net, MERN,
			<strong>
				Software Testing
			</strong>
			Manual and Automation,
			<strong>
				Cloud Computing
			</strong>
			(AWS | Azure),
			<strong>
				Server Administration
			</strong>
			(MicroSoft MCSE | Linux RHCE), Networking (CCNA),
			<strong>
				DevOps, Mobile App Development
			</strong>
			in Flutter, and
			<strong>
				Digital Marketing.
			</strong>
			A Training with a 100% Trusted Job-Based Internship Model. SCOPE INDIA has a Strong Placement Cell that provides jobs to thousands of students annually. We assure you, you won't regret it after training from SCOPE INDIA!
		</p>
		<p>This is how SCOPE INDIA can support both newbies and those experienced in the industry to upgrade their skills.</p>
	</div>
	<div class="icon_image">
		<!-- <img src="images/scope-india-iso-certified.png" alt="scope-india-iso-certified-image" width="500px" /> -->
		<a href="scope-india-reviews.html">
			<img src="~/Images/5star scope.webp" alt="google 5 star">
		</a>
		<h4>Google 4.9 * Rated Institute</h4>
	</div>
</section>