<section id="container_page_intro">
    <div>
        <h1>SCOPE&nbsp;INDIA Locations &amp; Contact Details</h1>
        <h2>Center for Software, Networking, &amp; Cloud Education</h2>
        <h3>One of India's best Training destinations for Software, Networking, DevOps and Cloud Computing courses with 18 years of Industrial experience. Over 1,000 students find their dream careers each year, and we have assisted more than 15,000 students so far.</h3>

    </div>
</section>

<section id="locations_head_container">
	<div class="intro_box">
		<div>
			<h3 title="Contact SCOPE INDIA, Software, Networking, Software Testing, Cloud Computing, Digital Marketing, and DevOps Training Center">
				SCOPE INDIA is open 365 days a year
			</h3>
			<h5>Call us now if you are looking for an IT job or adding more skills to your career</h5>
		</div>
	</div>
	<div>
		<h4>SCOPE INDIA Trivandrum, Kerala</h4>
		<address>TC 25/1403/3, Athens Plaza, SS Kovil Road, Thampanoor, Trivandrum, Kerala 695001</address>
		<a class="footer_links" href="tel:+919745936073" title="Call SCOPE INDIA Thampanoor, Trivandrum, Kerala +919745936073">9745936073</a>
		<a class="footer_links" href="mailto:info@scopeindia.org" title="Email SCOPE INDIA Thampanoor, Trivandrum, Kerala info@scopeindia.org">info@scopeindia.org</a>
		<a class="footer_links" href="https://g.page/r/CXbW6SZGeJPfEAE" title="SCOPE INDIA Google Map Location to Trivandrum, Kerala" target="_blank">Location Route Map</a>
	</div>
	<div>
		<h4>SCOPE INDIA Technopark, Kerala</h4>
		<address>Phase 1, Main Gate, Diamond Arcade, Near Technopark, Trivandrum</address>
		<a class="footer_links" href="tel:+919745936073" title="Call SCOPE INDIA Technopark, Trivandrum, Kerala +919745936073">9745936073</a>
		<a class="footer_links" href="mailto:info@scopeindia.org" title="Email SCOPE INDIA Technopark, Trivandrum, Kerala technopark@scopeindia.org">technopark@scopeindia.org</a>
		<a class="footer_links" href="https://maps.app.goo.gl/hbG8wSiDcW2w9kyH9" title="SCOPE INDIA Google Map Location to Technopark, Trivandrum, Kerala" target="_blank">Location Route Map</a>
	</div>
	<div>
		<h4>SCOPE INDIA Kochi, Kerala</h4>
		<address>Vasanth Nagar Rd, near JLN Metro Station, Kaloor, Kochi, Kerala 682025</address>
		<a class="footer_links" href="tel:+917592939481" title="Call SCOPE INDIA Kaloor, Kochi, Kerala +917592939481">7592939481</a>
		<a class="footer_links" href="mailto:kochi@scopeindia.org" title="Email SCOPE INDIA Kaloor, Kochi, Kerala kochi@scopeindia.org">kochi@scopeindia.org</a>
		<a class="footer_links" href="https://g.page/r/CWv07KhFfP7dEAE" title="SCOPE INDIA Google Map Location to Kochi, Kerala" target="_blank">Location Route Map</a>
	</div>
	<div>
		<h4>SCOPE INDIA Nagercoil 1, Tamil&nbsp;Nadu</h4>
		<address>Near WCC College, Palace Rd, Nagercoil, Tamil Nadu 629001</address>
		<a class="footer_links" href="tel:+918075536185" title="Call SCOPE INDIA Nagercoil, Tamil Nadu +918075536185">8075536185</a>
		<a class="footer_links" href="mailto:ngl@scopeindia.org" title="Email SCOPE INDIA Nagercoil, Tamil Nadu ngl@scopeindia.org">ngl@scopeindia.org</a>
		<a class="footer_links" href="https://goo.gl/maps/fVjnoN7GzcU1zson7" title="SCOPE INDIA Google Map Location to Nagercoil, Tamil Nadu" target="_blank">Location Route Map</a>
	</div>
	<div class="span2_columns">
		<h4>SCOPE INDIA Nagercoil 2, Tamil&nbsp;Nadu</h4>
		<address>Pharma Street, 5/2 Ward 28, Distillery Road, WCC Jn. Nagercoil</address>
		<a class="footer_links" href="tel:+918075536185" title="Call SCOPE INDIA Nagercoil, Tamil Nadu +918075536185">8075536185</a>
		<a class="footer_links" href="mailto:ngl@scopeindia.org" title="Email SCOPE INDIA Nagercoil, Tamil Nadu ngl@scopeindia.org">ngl@scopeindia.org</a>
		<a class="footer_links" href="https://goo.gl/maps/fVjnoN7GzcU1zson7" title="SCOPE INDIA Google Map Location to Nagercoil, Tamil Nadu" target="_blank">Location Route Map</a>
	</div>

	<div class="submit_form">
		<a href="https://localhost:7183/Home/ContactUs">
			<button class="btn-link" id="call_back_visitor_click">Contact Us &gt;&gt;</button>
		</a>
	</div>
	</section>

	

