@{
    ViewData["Title"] = "Home Page";
}
<section id="container_page_intro">
    <div>
        <h1>Your career partner!</h1>
        <h2>Center for Software, Networking, &amp; Cloud Education</h2>
        <h3>One of India's best Training destinations for Software, Networking, DevOps and Cloud Computing courses with 18 years of Industrial experience. Over 1,000 students find their dream careers each year, and we have assisted more than 15,000 students so far.</h3>
       
    </div>
    </section>

<section>
    <div class="home_page">
        <h4>Get Globally Certified from SCOPE INDIA</h4>
        <div class="image_grid">
            <img src="images/microsoft.png" class="grid-image-home" alt="Microsoft Certification" title="Microsoft Certification">
            <img src="images/ibm.png" class="grid-image-home" alt="IBM Certification" title="IBM Certification">
            <img src="images/google.png" class="grid-image-home" alt="Google Certification" title="Google Certification">
            <img src="images/amazon.png" class="grid-image-home" alt="Amazon Certification" title="Amazon Certification">
            <img src="images/redhat.png" class="grid-image-home" alt="Red Hat Certification" title="Red Hat Certification">
            <img src="images/istqb.png" class="grid-image-home scale-15" alt="ISTQB Certification" title="ISTQB Certification">
            <img src="images/cisco.png" class="grid-image-home scale-15" alt="Cisco Certification" title="Cisco Certification">
            <img src="images/github.png" class="grid-image-home" alt="GitHub Certification" title="GitHub Certification">
        </div>
    </div>
	<div id="home_about_contents">

		<div class="parent">
			<h2>Dreaming about a career in IT</h2>
			<div class="main_div">
				<div class="home_about_contents_left">

					<p>Spearheaded by the working professionals of Suffix E Solutions in flexible learning mode, we provide quality training with 100% placement support.</p>
					<p>We provide comprehensive courses in:</p>
					<div>
						<ul>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
								</svg>
								<a href="java-spring-mysql-full-stack-advanced-internship-course.html" class="clicklink" style="text-decoration:none;color:white">Software Programming</a>
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
								</svg>
								<a href="devops-certification-internship-course.html" class="clicklink" style="text-decoration:none;color:white">DevOps</a>
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
								</svg>
								<a href="data-science-ai-course.html" class="clicklink" style="text-decoration:none;color:white">Data Science &amp; AI</a>
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
								</svg>
								<a href="software-testing-manual-automation-advanced-internship-course.html" class="clicklink" style="text-decoration:none;color:white">Software Testing</a>
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
								</svg>
								<a href="data-analytics-course.html" class="clicklink" style="text-decoration:none;color:white">Data Analytics</a>
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
								</svg>
								<a href="networking-server-cloud-computing-internship-course.html" class="clicklink" style="text-decoration:none;color:white">Server Administration</a>
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
								</svg>
								<a href="azure-certification-cloud-administrator-internship-course.html" class="clicklink" style="text-decoration:none;color:white">Cloud Computing</a>
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
								</svg>
								<a href="networking-ccna-internship-course.html" class="clicklink" style="text-decoration:none;color:white">NetWorking</a>
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
								</svg>
								<a href="android-ios-mobile-app-google-flutter-course.html" class="clicklink" style="text-decoration:none;color:white">Mobile App Development</a>
							</li>
							<li>
								<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
									<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
								</svg>
								<a href="digital-marketing-course-internship.html" class="clicklink" style="text-decoration:none;color:white">Digital Marketing</a>
							</li>
						</ul>
					</div>
				</div>
				<div class="home_about_contents_right">
					<div>
						<h3>Classes</h3>
						<p>Learn Anywhere, Anytime - Online &amp; in-Person Classes Available!</p>
					</div>
					<div>
						<h3>Placement</h3>
						<p>Guaranteed Success -100% Placement Support </p>
					</div>
					<div>
						<h3>Training</h3>
						<p>Training by Working Professionals of Suffix E Solutions</p>
					</div>
					<div>
						<h3>Internship</h3>
						<p>OJT (On the Job Training) under Suffix E Solutions after course completion with experience certificate</p>
					</div>
				</div>
			</div>
		</div>
		
	</div>
</section>
<section id="placement_Highlights">
	<div class="parent">
		<div>
			<h2>Placement Highlights</h2>
			<div class="Highlights">
				<div><span>100%</span><p>Placement Assistance</p></div>
				<div>
					<span>1000+</span><p>
						Students are Getting
						Placed Every Year
					</p>
				</div>
				<div>
					<span>500+</span><p>
						Partner Companies
					</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="section_ai">
	<div class="parent">
		<h2>Match the Pace of Artificial Intelligence</h2>
		<h3>
			Study AI From SCOPE INDIA
		</h3>
		<div class="main_div">
			<div class="image_content">
				<a href="https://scopeindia.org/data-science-ai-course.html">
					<div class="robot">
						<img src="images/robo-scope-site.webp" alt="">
					</div>
				</a>
				<a href="https://scopeindia.org/data-science-ai-course.html">
					<img src="~/Images/data-science-ai-course-scopeindia.webp" alt="courses-scope-india">
				</a>
			</div>
			<a href="data-science-ai-course.html" style="text-decoration: none;">
				<div class="road_map">

					<ul>
						<li>
							<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
								<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							</svg>
							Python 3.12
						</li>
						<li>
							<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
								<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							</svg>
							SQL
						</li>
						<li>
							<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
								<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							</svg>
							Pandas
						</li>
						<li>
							<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
								<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							</svg>
							NumPy
						</li>
						<li>
							<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
								<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							</svg>
							Matplotlib and Seaborn
						</li>
						<li>
							<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
								<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							</svg>
							Tableau
						</li>
						<li>
							<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
								<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							</svg>
							Excel &amp; Power BI
						</li>
						<li>
							<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
								<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							</svg>
							Django &amp; REST Services
						</li>
						<li>
							<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
								<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							</svg>
							Machine Learning
						</li>
						<li>
							<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
								<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							</svg>
							Deep Learning &amp; AI
						</li>
						<li>
							<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
								<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							</svg>
							English Language Training
						</li>
						<li>
							<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
								<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							</svg>
							Live Projects
						</li>
					</ul>
				</div>
			</a>
		</div>
		<p>
			Harness the capabilities of machine learning, deep learning, natural language processing and uncover hidden patterns, optimize processes, and drive smarter decision-making.
		</p>
	</div>
</section>

<section id="section_fullstack">
	<div class="parent">
		<h2>Become a Full Stack Developer</h2>
		<div class="main_div">
			<div class="road_map" style="cursor: pointer;">
				<h3>
					Your pathway includes
				</h3>
				<ul>
					<li>
						<span>1</span>
						<div>
							<h4>Foundation </h4>
							<p>
								Programming Fundamentals, SQL
							</p>
						</div>
					</li>
					<li>
						<span>2</span>
						<div>
							<h4>Front End </h4>
							<p>
								HTML, CSS, JavaScript, jQuery, Bootstrap, React JS
							</p>
						</div>
					</li>
					<li>
						<span>3</span>
						<div>
							<h4>Back End </h4>
							<p>
								<!-- Java, MERN, MEAN, ASP.NET, PHP, Python -->
								Python / Java / ASP.NET / PHP / JavaScript
							</p>
						</div>
					</li>
				</ul>
				
			</div>
			<div>
				<a href="courses-scope-india.html">
					<img src="~/Images/full-stack-course-scopeindia.webp" alt="courses-scope-india">
				</a>
			</div>
		</div>
	</div>
</section>

<section id="testing_section">
	<div class="parent">
		<h2><span>No Coding </span>Prowess?<span class="testing_span_h2"> Not a Problem</span> </h2>
		<div class="main_div">
			<div>
				<a href="software-testing-manual-automation-advanced-internship-course.html">
					<img src="~/Images/software-testing-course-scopeindia.webp" alt="">
				</a>
			</div>
			<div class="testing_content" style="cursor: pointer;">
				<h4>Software Testing is the Gateway to Your IT Career</h4>
				<ul>
					<li>
						<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
							<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
						</svg>
						Manual Testing
					</li>
					<li>
						<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
							<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
						</svg>
						Automation Testing
					</li>
					<li>
						<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
							<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
						</svg>
						Practical Sessions
					</li>
					<li>
						<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
							<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
						</svg>
						Theoretical Sessions
					</li>
					<li>
						<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
							<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
						</svg>
						Flexible Schedules
					</li>
					<li>
						<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
							<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
						</svg>
						On Job Training
					</li>
				</ul>

			</div>
		</div>
		<p class="text_content">
			Start your tech journey today with <span>SCOPE INDIA</span> and make your mark in the IT industry!
		</p>
	</div>
	
</section>

<section id="section_power">
	<div class="parent">
		<h2>Match the Pace of Business Intelligence	</h2>
		<div class="main_div">
			<div>
				<a href="microsoft-powerbi-course.html">
					<img src="~/Images/power-bi-course-scopeindia.webp" alt="power-bi-course-scopeindia">
				</a>
			</div>
			<div class="right_content" style="cursor: pointer;">
				<h4>Study Power BI From SCOPE INDIA</h4>
				<ul>
					<li>
						<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
							<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
						</svg>
						Transform Raw Data
					</li>
					<li>
						<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
							<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
						</svg>
						Interactive Dashboards
					</li>
					<li>
						<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
							<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
						</svg>
						Hands-on Training
					</li>
					<li>
						<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
							<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
						</svg>
						Real-World Scenarios
					</li>
					<li>
						<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
							<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
						</svg>
						Flexible Schedules
					</li>
					<li>
						<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
							<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
						</svg>
						On Job Training
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>

<section id="section_mission_vision">
	<div class="parent">
		<h2>Our Mission &amp; Vision </h2>
		<div class="main_div">
			<div class="left_content">
				<div class="content">
					<div class="svg_div">
						<svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 10V3L4 14h7v7l9-11h-7z"></path>
						</svg>
					</div>
					<h4>Our Mission</h4>
					<p><span>SCOPE INDIA</span> seeks to close the knowledge gap between education and employment by offering interactive, industry-focused IT training  led by proficient working professionals and aligned with the latest trends and technologies. Our objective is to provide people with the technical expertise and confidence they need to build fulfilling careers.</p>
					<ul>
						<li>
							<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
								<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							</svg>
							Industry-aligned curriculum
						</li>
						<li>
							<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
								<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							</svg>
							Practical skill development
						</li>
						<li>
							<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
								<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							</svg>
							Career-focused training
						</li>
					</ul>
				</div>

			</div>
			<div class="right_content">
				<div class="content">
					<div class="svg_div">
						<svg fill="none" stroke="currentColor" viewBox="0 0 24 24">
							<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"></path>
						</svg>
					</div>
					<h4>Our Vision</h4>
					<p>
						We aspire to become the most respected and forward-thinking training organization in India and beyond by shaping the future of IT education via innovation, integrity, and strong industry ties. We intend to expand globally.
					</p>
					<ul>
						<li>
							<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
								<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							</svg>
							Global recognition
						</li>
						<li>
							<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
								<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							</svg>
							Innovation leadership
						</li>
						<li>
							<svg class="w-5 h-5 text-yellow-500 mr-2" fill="currentColor" viewBox="0 0 20 20">
								<path d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"></path>
							</svg>
							Technology excellence
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>




    