
/*===BANNER===*/

#container_page_intro h1 {
/*    font-size: 40px;*/
    color: #eeaf10;
    background: linear-gradient(60deg, #04145f 0%, rgb(4 13 55) 100%);
    font-weight: bold;
    text-align: center;
    border-top: 1.5px solid #c7ac20;
    border-bottom: 1.5px solid #c7ac20;
    padding:10px;
}
#container_page_intro h2 {
    color: #14267c;
    font-size: 180%;
    display: block;
    margin: 15px auto;
    font-weight: normal;
    padding: 0px 10px 0px 10px;
    text-align: center;
}
    #container_page_intro h3{
    font-family: Viga;
    color: #0b27a8;
    font-size: 120%;
    font-weight: normal;
    text-align: justify;
    padding: 15px;
    margin-top: -21px;
    margin-bottom: 0px;
}
.home_page {
    text-align: center;
    border-top: 5px solid #04145f;
    padding: 15px 0px 20px 0px;
    background: linear-gradient(45deg, #e2e2e2, #fff);
}
    .home_page h4 {
        color: #04145f;
        font-size: 19px;
        font-weight: normal;
        margin: 0px !important;
    }
.home_page {
    text-align: center;
    padding: 20px;
}

  /*==images grids==*/

    .image_grid {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(8, 1fr); /* for desktop */
    gap: 1rem;
    padding: 10px 0;
    margin: 0 !important;
    background: linear-gradient(45deg, #e2e2e2, #fff);
}


.image_grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
}

.grid-image-home {
    width: 80px;
    transition: transform 0.3s ease;
}

    .grid-image-home:hover {
        transform: scale(1.1);
    }

.scale-15 {
    transform: scale(1.5);
    margin-top: -10px;
}
/*==dreming==*/

#home_about_contents {
    padding: 0 55px;
    text-align: start;
    background: linear-gradient(90deg, rgb(11 23 81) 0%, rgb(10 29 121) 31%);
}
@media only screen and (max-width: 1200px) {
  #home_about_contents .parent {
        padding: 0;
    }
}

#home_about_contents .parent {
    width: 100%;
    margin-left: auto;
    margin-right: auto;

  
}
#home_about_contents h2 {
    font-family: Viga;
    font-size: 35px;
    padding: 20px 0;
    color: #fecb00;
}
@media only screen and (max-width: 1000px) {
    #home_about_contents .parent .main_div{
        grid-template-columns:none;
    }
}

    #home_about_contents .parent .main_div {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    padding-bottom: 20px;
}
    #home_about_contents div p{
        display:inline-block;
    }
#home_about_contents p {
    font-size: 18px;
    margin-bottom: 26px;
    line-height: 22px;
    color: #fff;
    font-weight: 16px;
    letter-spacing: 0.5px;
}

#home_about_contents ul {
    list-style:none;
    display:grid;
    grid-template-columns:repeat(2, 1fr);
    gap:10px;
}

    #home_about_contents ul li {
        border-radius:10px;
        display:flex;
        align-items:center;
        font-size:16px;
        color:white;
        margin:5px 0;
    }

#home_about_contents svg {
    color:#eab308;
    width:20px;
    height:20px;
    margin-right:8px;
}
@media only screen and (max-width: 700px) {
    #home_about_contents_right {
        width: 100%;
        grid-template-columns:none;
    }
}
.home_about_contents_right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}

@media only screen and (max-width: 700px) {
    .home_about_contents_right div {
        width:100%;
    }
}
@media only screen and (max-width: 1200px) {
    .home_about_contents_right div {
        width: 100%;
    }
}
.home_about_contents_right div {
    background: #0b1e7d;
    border: solid #f1ad0e 2px;
    padding: 24px;
    border-radius: 20px 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: transform 0.3s ease;
}

.home_about_contents_right h3 {
    margin-bottom:10px;
    color:#fecb00;
    font-size:19px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; 
    scroll-behavior: smooth;
}
/*===*Highlights===*/

#placement_Highlights {
    background-color: rgb(245 245 245 / 1);
}
    #placement_Highlights .parent {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
        #placement_Highlights .parent h2 {
            font-family: 'Viga', sans-serif;
            font-size: 30px;
            margin: 30px;
            text-align: center;
            color: #0b1e7d;
        }

   
    #placement_Highlights .parent .Highlights {
        gap: 20px;
        width: 100%;
        display: grid;
        padding: 0 50px;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        padding-bottom: 25px;
    }
        #placement_Highlights .parent .Highlights
        div {
            width: 100%;
            padding: 15px;
            border-radius: 10px;
            background-color: #fff;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
        #placement_Highlights .parent .Highlights span {
            color: #e5c000;
            font-size: 40px;
            font-weight: 700;
        }
        #placement_Highlights .parent .Highlights div p {
            font-size: 18px;
            margin: 10px 2px;
        }

    #placement_Highlights p {
        color: #0b27a8;
    }
    

    /*AI Intaligents*/
#section_ai {
    background: linear-gradient(2deg, #011b7c 0%, rgb(9 23 85) 80%);
}
    #section_ai .parent {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
        text-align: center;
    }

@media only screen and (max-width: 1000px) {
    #section_ai .parent h2 {
        font-size: 40px; /* Smaller size for smaller screens */
    }
}


    #section_ai .parent h2 {
        font-size: 45px;
        margin-bottom: 15px;
        padding: 5px;
        text-align: center;
        background: linear-gradient(0deg, rgb(187 151 39) 29%, rgb(249 245 146) 50%, rgb(215 167 41) 76%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    
}

@media only screen and (max-width: 1080px) {
    #section_ai .parent h3 {
        width: auto;
    }
}

#section_ai .parent h3 {
    color: #0b1e7d;
    background: linear-gradient(0deg, rgb(187 151 39) 3%, rgb(249 245 146) 56%, rgb(215 167 41) 100%);
    display: inline-block;
    font-size: 23px;
    margin-bottom: 22px;
    padding: 10px 20px;
    border-radius: 20px 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 1080px) {
    #section_ai .parent .main_div {
        grid-template-columns: none;
    }
}

#section_ai .parent .main_div {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
#section_ai .parent .image_content {
    position: relative;
}
@keyframes moveSide {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-30px);
    }

    100% {
        transform: translateX(0);
    }
}
#section_ai .parent .image_content .robot img {
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
}

#section_ai .parent .image_content .robot {
    width: 60%;
    position: absolute;
    left: -10px;
    top: -15px;
    animation: moveSide 3s ease-in-out infinite;
}


#section_ai .parent .image_content .robot img {
    filter: drop-shadow(10px 10px 20px rgba(0, 0, 0, 0.5));
}

#section_ai .parent img {
    width: 100%;
    border-radius: 10px;
    background-size: cover;
    object-fit: fill;
/*     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba,(0 0, 0, 0.19);*/ 
}

@media only screen and (max-width: 1080px) {
    #section_ai .parent .road_map {
        margin-top: 20px;
    }
}

#section_ai .parent .road_map {
    text-align: center;
}
#section_ai .parent .main_div .road_map ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0 20px;
    padding: 0 10px;
    border: 2px solid #e5c000;
    border-radius: 20px;
    padding: 20px;
}
    #section_ai .parent .main_div .road_map ul li {
        border-radius: 10px;
        display: flex;
        align-items: center;
        font-size: 15px;
        color: #fff;
/*         margin: 5px 10px; */
    }
#home_head_container .course_title ul, li {
    margin: 10px 0;
    padding: 0;
}
#section_ai .parent .main_div .road_map svg {
    width: 22px;
    margin-right: 10px;
    color: #fecb00;
}

#section_ai .parent p {
    margin-top: 20px;
    font-size: 20px;
    color: #fff;
    padding: 20px;
}

/*===Full stcak===*/
#section_fullstack {
    padding: 20px;
    background-color: rgb(245 245 245 / 1);
}
    #section_fullstack .parent {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 30px;
    }
        #section_fullstack .parent h2 {
            font-family: Viga;
            font-size: 35px;
            margin-bottom: 50px;
            text-align: start;
            color: #0b1e7d;
            padding: 5px;
        }
@media only screen and (max-width: 1200px) {
    #section_fullstack .parent .main_div {
        grid-template-columns: none
    }
}
#section_fullstack .parent .main_div {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
   


    #section_fullstack .parent .road_map {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#section_fullstack .parent .road_map h3 {
    color: #000;
    font-size: 22px;
    padding: 20px;
    margin-bottom: 12px;
}
#section_fullstack .parent .road_map li {
    list-style: none;
    display: flex;
    justify-content: start;
    margin-bottom: 20px;
}
#section_fullstack .parent .road_map span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #e5c000;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 17px;
    font-size: 20px;
    font-weight: 600;
}
#section_fullstack .parent .road_map div {
    margin-left: 20px;
}
    #section_fullstack .parent .road_map div h4 {
        font-size: 17px;
        margin-bottom: 6px;
    }
    #section_fullstack .parent .road_map div p {
        font-size: 17px;
        color: #656363;
        font-weight: 600;
    }

#section_fullstack .parent img {
    width: 100%;
    border-radius: 10px;
    background-size: cover;
    object-fit: fill;
  
/*     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

/*==testing==*/
#testing_section {
    background: linear-gradient(90deg, rgb(11 23 81) 0%, rgb(10 29 121) 31%);
    /* height: 100vh; */
    width: 100%;
}
    #testing_section .parent {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 30px 30px 0 30px;
    }
        #testing_section .parent h2 {
            color: #fff;
            text-align: center;
            padding: 30px 0;
            font-size: 30px;
            margin-bottom: 20px;
        }
@media only screen and (max-width: 900px) {
    #testing_section .parent span {
        font-size: 40px;
    }
}

#testing_section .parent span {
    color: #eec705;
    font-size: 50px;
}
@media only screen and (max-width: 1000px) {
    #testing_section .parent .main_div {
        display: block;
    }
}

#testing_section .parent .main_div {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
    #testing_section .parent .main_div img {
        width: 100%;
        border-radius: 10px;
        background-size: cover;
        object-fit: fill;
        height: 100%;
    }
@media only screen and (max-width: 1080px) {
    #testing_section .parent .main_div .testing_content {
        padding: 0;
    }
}

#testing_section .parent .main_div .testing_content {
/*    padding: 20px;*/
    border-radius: 10px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    text-align: center;
    /* background-color: #0b1e7d; */
}
    #testing_section .parent .main_div .testing_content h4 {
        color: #0b1e7d;
        background-color: #fecb00;
        display: inline-block;
        font-size: 23px;
        margin-bottom: 22px;
        padding: 10px;
        border-radius: 15px 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }


@media only screen and (max-width: 1080px) {
    #testing_section .parent .main_div .testing_content ul {
        padding: 0;
        margin: 0;
    }
}

@media only screen and (max-width: 1150px) {
    #testing_section .parent .main_div .testing_content ul {
        /*        margin: 0;*/
    }
}   

    #testing_section .parent .main_div .testing_content ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        /*    margin: 20px;
          padding: 10px;*/
    }

        #testing_section .parent .main_div .testing_content ul li {
            border-radius: 10px;
            display: flex;
            align-items: center;
            font-size: 19px;
            color: #fff;
        }

   

    #home_head_container .course_title ul, li {
        /* margin: 10px 0; */
        padding: 0;
        /* list-style: none; */
    }

    #testing_section .parent .main_div .testing_content svg {
        width: 25px;
        height: 25px;
        margin-right: 10px;
        color: #fecb00;
    }

    #testing_section .parent .text_content {
        color: #fff;
        font-size: 22px;
        text-align: center;
        letter-spacing: 0.3px;
        line-height: 23px;
        margin-top: 20px;
        padding-bottom: 50px;
    }

    @media only screen and (max-width: 900px) {
        #testing_section .parent span {
            font-size: 40px;
        }
    }

    #testing_section .parent span {
        color: #eec705;
/*        font-size: 50px;*/
    }

    @media only screen and (max-width: 1000px) {
        .text_content span {
            display: block;
            padding: 10px 0;
/*            font-size: 40px;*/
        }
    }

    /*==section power==*/

#section_power {
    width: 100%;
    /* background-color: #fff; */
    background: linear-gradient(94deg, rgb(238 234 233) 10%, rgb(246 244 245) 31%);
}

    #section_power .parent {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 30px 30px 0 30px;
        margin-top:-17px;
    }

        #section_power .parent h2 {
            font-family: Viga;
            color: #0b1e7d;
            text-align: center;
            padding: 0 30px;
            font-size: 35px;
            margin-bottom: 20px;
            letter-spacing: 1px;
        }
@media only screen and (max-width: 1200px) {
    #section_power .parent .main_div {
        grid-template-columns: none;
    }
}

#section_power .parent .main_div {
    display: grid;
    gap: 20px;
    padding: 0 20px 50px 20px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

    #section_power .parent .main_div img {
        width: 100%;
        background-size: cover;
        object-fit: fill;
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    }
    #section_power .parent .main_div .right_content {
        padding: 10px;
        text-align: center;
    }
    #section_power .parent .main_div h4 {
        font-size: 27px;
        padding: 10px 20px;
        background-color: #fecb00;
        margin-top: 30px;
        border-radius: 20px 5px 20px 5px;
        text-align: center;
        color: #0824b2;
        display: inline-block;
    }
    #section_power .parent .main_div .right_content ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        margin: 20px;
        padding: 10px;
    }
        #section_power .parent .main_div .right_content ul li {
            border-radius: 10px;
            display: flex;
            align-items: center;
            font-size: 20px;
            color: #000;
        }
#home_head_container .course_title ul, li {
    margin: 10px 0;
    padding: 0;
    /* list-style: none; */
}
#section_power .parent .main_div .right_content svg {
    width: 25px;
    height: 25px;
    margin-right: 10px;
    color: #e0aa0c;
}

/*==mission&vission==*/

#section_mission_vision {
    /* background-color: #020c3d; */
    padding: 10px;
    background: linear-gradient(90deg, rgb(11 23 81) 0%, rgb(10 29 121) 31%);
}
    #section_mission_vision .parent {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 30px 30px 0 30px;
    }
        #section_mission_vision .parent h2 {
            color: #fecb00;
            font-family: Viga;
            text-align: center;
            font-size: 35px;
            margin: 20px;
            letter-spacing: 1px;
        }

@media only screen and (max-width: 900px) {
    #section_mission_vision .parent .main_div

{
    grid-template-columns: none;
    padding: 0;
}

}

#section_mission_vision .parent .main_div {
    display: grid;
    gap: 30px;
    padding: 20px;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}

#section_mission_vision .parent .left_content, #section_mission_vision .parent .right_content {
    /* background-color: #09144a; */
    background: linear-gradient(90deg, rgb(13 29 105) 0%, rgb(10 29 121) 31%);
    padding: 30px;
    border-radius: 20px;
    border: solid 2px #e5c000;
    margin-bottom: 20px;
}

#section_mission_vision .parent .svg_div {
    color: #fff;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #e0aa0c;
    margin-bottom: 20px;
}
    #section_mission_vision .parent .svg_div svg {
        width: 40px;
    }
#section_mission_vision .parent .main_div h4 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 20px;
}
#section_mission_vision .parent .main_div p {
    color: #f4f4f4;
    font-size: 15px;
    margin-bottom: 20px;
}
#section_mission_vision .parent .main_div ul li {
    display: flex;
    align-items: center;
    font-size: 14px;
    list-style: none;
    color: #fff;
}
    #section_mission_vision .parent .main_div ul li svg {
        color: #fecb00;
        height: 22px;
        margin-right: 20px;
    }